<%- include('parts/html_head') %>
    <%- include('parts/html_navbar') %>


        <div class="container">
            HELLO
            <%- name %>

        </div>


        <%- include('parts/scripts') %>
            <%- include('parts/html_foot') %>