<%- include('../parts/html_head') %>
    <%- include('../parts/html_navbar') %>


        <div class="container">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" name="search" value="<%= search %>" type="search"
                            placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link <%= page ==1 ?'disabled' : ''  %> "
                                href="?<%= new URLSearchParams ({...query,page:page-1}).toString() %> ">
                                <i class="fa-solid fa-circle-arrow-left"></i>
                            </a>
                        </li>
                        <!-- 當for 底下只有一個statment 就可以拿掉{} -->
                        <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link  <%= i ==page ?'active' : ''  %> "
                                        href="?<%= new URLSearchParams ({...query,page:i}).toString() %> ">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } %>
                                    <li class="page-item">
                                        <a class="page-link  <%= page ==totalPages ?'disabled' : ''  %> "
                                            href="?<%= new URLSearchParams ({...query,page:page+1}).toString() %>">
                                            <i class="fa-solid fa-circle-arrow-right"></i></a>
                                    </li>

                    </ul>


                </nav>

            </div>
            <div class="row">
                <form action="" name="form1" onsubmit="checkForm(event)">
                <table class="table">
                    <button id="btn">刪除</button>
                    <thead>
                        <tr>
                            <th scope="col"><i class="fa-solid fa-trash-can"></i></th>
                            <th scope="col">#</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">種類</th>
                            <th scope="col">品牌</th>
                            <th scope="col">價格</th>
                            <th scope="col">庫存</th>
                            <th scope="col">圖片名稱</th>
                            <th scope="col">商品敘述</th>
                            <th scope="col">日期測試</th>
                            <th scope="col"><i class="fa-solid fa-pen-to-square"></i></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(r of rows) { %>
                            <tr>
                                <td>

                                    <input type="checkbox" name="<%= r.product_sid %>" value="<%= r.product_sid %>"
                                        class="ckbox">

                                </td>
                                <th scope="row">
                                    <%= r.product_sid %>
                                </th>
                                <td>
                                    <%= r.product_name %>
                                </td>
                                <td>
                                    <%= r.product_category_sid %>
                                </td>
                                <td>
                                    <%= r.brand_sid %>
                                </td>
                                <td>
                                    <%= r.product_price %>
                                </td>
                                <td>
                                    <%= r.product_inventory %>
                                </td>
                                <td>
                                    <%= r.picture %>
                                </td>
                                <td>
                                    <%= r.product_description %>
                                </td>
                                <td>
                                    <%= toDateString('2019-01-07 10:39:38') %>
                                </td>
                                <td>
                                    <a href="/products/edit/<%= r.product_sid %>">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>

                </table>
                </form>
            </div>
        </div>




        <%- include('../parts/scripts') %>
            <script>

                const btn = document.querySelector('.btn');
                const ckbox = document.querySelectorAll('.ckbox');

                function checkForm(evt) {
                    evt.preventDefault();

                    const fd = new FormData(document.form1);
                    const data = {};
                    for (let [k, v] of fd) {
                        // console.log({k, v})
                        data[k] = v;
                    }
                    fetch('/products/del', {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(r => r.json())
                        .then(result => {
                            console.log(JSON.stringify(result));
                            // location.reload();
                        })
                }



                let str = '/';
                // console.log(ckbox);
                // ckbox.forEach((el) => {
                //     el.addEventListener('click', (e) => {
                //         const ckbox_value = e.target.name;
                //         str += ` / ${ckbox_value}`;
                //         history.pushState('', '', str);
                //     })
                // })

                btn.addEventListener('change', async () => {


                    const nsp = new URLSearchParams();
                })


                function del(sid) {
                    fetch('/products/del/' + sid, {
                        method: 'DELETE'
                    }).then(r => r.json())
                        .then(result => {
                            console.log(JSON.stringify(result));
                            location.reload();
                        })
                }
            </script>
            <%- include('../parts/html_foot') %>